.th-element{
    background-color: aqua;
}
.table{
    background-color: black;
}
table {
    background-color: aquamarine;
}
.card-notice{
    /* width:50%; */
}
.notes-input{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-notes{
    margin-bottom: 10px;
    background-color: #cce6fc;
    border-radius: 10px;
    width: 50%;
    padding: 5px;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notes-added{
    border-radius: 10px;
    align-items: center;
}
.input-group:hover{
    border:1px solid black;
    border-radius: 5px;
}
.input-group>span:hover{
    cursor: pointer;
}
.input-group{
    width: 700px;
    height: 40px;
}
.menu-bar{
    font-size: 20px;
    margin-left: 20px;
    
}
.menu-bar:hover{
    cursor: pointer;
}
.menu-bar, .input-group {
align-self: center;
}
.menu-tittle{
    margin-right: 20px;
    text-decoration: none;
    color: black;
}
.menu-tittle:hover{
    text-decoration: underline;
    color: blue;
}
.title ~ span{
    font-size: 20px;
    padding: 5px;
}
.title {
font-size: 26px;
font-weight: bold;
}
h4, .title {
margin-bottom: 15px;
}
.blog-list{
background-color: #333333;
color: #F5F5F5;
margin-bottom: 2vw;
/* width: 100%; */
/* display: flex; */
align-items: center;
height: 20vw;
border: 1px solid white;
box-shadow:2px 2px 1px #333333;
}
h6{
border-left:3px solid blue;
margin-top: 50px;
padding: 10px;
text-decoration: underline;
color: blueviolet;
}
blockquote{
font: italic;
text-align: justify;
text-indent: 50px;
}
nav a{
color: white;
}
.card-img{
width: 100%;
height: 50%;
padding: 5px;
}
.container{
display: grid;
grid-template-columns: 9fr 3fr;

}
.img-top{
width: 9vw;
height: 2.5vw;
margin-left: 30px;
margin-top: 8px;
}
.blog-screen, .blog-list {
border: 2px solid lightgrey;
border-radius: 4px;
margin: 5px;
padding: 5px;
}